/*========================================================================================*/
/*==Globales==*/
/*========================================================================================*/

*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #238276;
    font-family: 'Roboto', sans-serif;
}
/*========================================================================================*/
/*==menu==*/
/*========================================================================================*/
#sidebar{
    position: fixed;
    width: 250px;
    height: 100%;
    background: #363333;
    left: -250px;
    transition: all 400ms linear;
    /* background-color: white; */
}
/* .closebtn{
    font-size: 30px;
    position: absolute;
    left: 280px;
    top: 20px;
    cursor: pointer;

} */
#sidebar.active{
    left: 0;
}
body.active{
    left: 0;
    background-color: rgb(0,0,0,0.56);
}

#sidebar ul li {
    text-decoration: none;
    color: white;
    list-style: none;
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #ffffff77;
}

.logo-caja{
    /* background: white; */
    display: block;
    margin: 0 auto;
}

#sidebar .icon-menu{
    position: absolute;
    left: 260px;
    top: 10px;
    cursor: pointer;
}

/* .icon-menu{
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 1px solid black;
} */

.icon-menu{
    font-size: 40px;
}
.icon-menu:hover{
    color: rgb(226, 12, 12);
}
a:hover{
    color: black;
}
#sidebar::after{
    content: '';
    background-color: rgb(0,0,0,0.56);
}

/*section*/
.section{
    width:80vw;
    height:100vh;
    margin-left:50px;
    margin-top:50px;
    /*border: 1px solid black;*/
}
#LinkButton2 {
    color: red;
    border-bottom: 1px solid #fff;
}
.closeSeccion {
    width:120px;
    height:90px;
    /*border:2px solid black;*/
    float:right;
}
/*========================================================================================*/
/*==GAME OVER- EL SOCIO :)- YA CORONAMOS==*/
/*========================================================================================*/